.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding-bottom: 150px;
}

.graph {
    padding: 5px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.graph h2 {
    margin: 20px 0;
}


.graph > div {
    margin-bottom: 20px;
}

.graph select {
    border: none;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
}

/* 
================= */

.graph canvas {
    height: auto !important;
    display: block;
    width: 100%;
}

.graphContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.graphContainer__block {
    width: 100%;
    background-color: var(--green);
    height: 10px;
}

@media (max-width: 400px) {
    .container {
        width: 100%;
        padding-bottom: 50px;
    }
    .container h2 {
        font-size: 1rem !important;
    }
}