.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 10px auto;
}

.container h2 {
    padding: 0 10px 10px 0;
    text-align: center;
}

.total {
    margin-right: 5px;
}

.update {
    margin-left: 5px;
}

.total tr,
.update tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: auto;
}

.total td, .update td {
    padding: 10px;
    font-size: .9rem;
}

.total, .update {
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    padding: 20px;
}

.total tr:nth-child(odd),
.update tr:nth-child(odd) {
    background-color: var(--white); 
}

@media(max-width: 540px) {
    .container {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .total, .update {
        margin: 5px 0;
        width: 100%;
    }
}