.container {
    display: flex;
    flex-direction: row;
}

.container h2 {
    padding: 0 10px 10px 0;
    text-align: center;
}

.total tr,
.update tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: auto;
}

.total td, .update td {
    padding: 10px;
    font-size: .9rem;
}

.total, .update {
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    padding: 20px;
}

.total tr:nth-child(odd),
.update tr:nth-child(odd) {
    background-color: var(--white); 
}
